[submodule "lib/domodel"]
	path = lib/domodel
	url = https://github.com/thoughtsunificator/domodel.git
[submodule "lib/domodel-collection"]
	path = lib/domodel-collection
	url = https://github.com/thoughtsunificator/domodel-collection
